/* 以下为基础部分修改 */
body{
  margin: 0px;
  padding: 0px;
}
::selection{
  background-color: rgba(252,67,73,1);
  color: white;
}
/* @font-face{
  font-family: "Clear Sans";
  src: url(./font/ClearSans-Regular.eot);
} */
/* 字体pcb电路板一号 */
@font-face{
  font-family: "Ringside Regular A";
  src: url(./font/Ringside_Regular_A300n);
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: "Ringside Regular B";
  src: url(./font/Ringside_Regular_B300n);
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: "Ringside Regular A";
  src: url(./font/Ringside_Regular_A400n);
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Ringside Regular B";
  src: url(./font/Ringside_Regular_B400n);
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Ringside Regular A";
  src: url(./font/Ringside_Regular_A800n);
  font-weight: 800;
  font-style: normal;
}
@font-face{
  font-family: "Ringside Regular B";
  src: url(./font/Ringside_Regular_B800n);
  font-weight: 800;
  font-style: normal;
}
@font-face{
  font-family: "Sentinel A";
  src: url(./font/Sentinel_A400n);
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Sentinel B";
  src: url(./font/Sentinel_B400n);
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Sentinel A";
  src: url(./font/Sentinel_A400i);
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: "Sentinel B";
  src: url(./font/Sentinel_B400i);
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: "Sentinel SSm A";
  src: url(./font/Sentinel_SSm_A500n);
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Sentinel SSm B";
  src: url(./font/Sentinel_SSm_B500n);
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Clear Sans";
  src: url(./font/ClearSans-Regular.woff);
  font-weight: 500;
  font-style: normal;
}

hr{
  height: 1px;
  background-color: rgba(20,20,35,0.15);
  border: 0px;
  margin: 0px;
}
.kong-t hr{
  margin: 30px 0px 30px 0px;
  background-color: white;
}
a{
  text-decoration: none;
  color: rgba(20,20,35,0.15);
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
}



/* 以下为特殊内容修改 */
.most{
  line-height: 1em;
  font-weight: 800;
}
.clear{
  clear: both;
}
.divider{
  height: 19px;
}
.divider hr{
  margin: 7px 8px 0px 8px;
}
.divider-2{
  width: 100%;
  border-bottom: 1px solid rgba(20,20,35,.5);
}



/* 以下为svg图片格式修改 */
.event-1 svg{
  fill: rgba(252,67,73,1);
  width: 135px;
  height: 24px;
  transition: all 250ms ease;
}
.logo-1 svg{
  width: 394px;
  height: 74px;
  fill: rgba(20,20,35,1);
}









/* 以下为页头 */
/* .head-f{
  width: 89.473684210526%;
} */

/* shop部分 */
.hd-r{
  z-index: 10;
  /* width: 91.6666666666667%; */
  width: 1320px;
  max-width: 1320px;
  margin: 0px auto 0px auto;
  position: relative;
  height: 260px;
}
.header-shop{
  float: right;
  width: 300px;
  height: 85px;
  margin: 0 0 0 4.545454545455%;
  border-top: 30px solid white;
}
.col-1{
  width: 135px;
  height: 85px;
  margin: 0px auto 0px auto;
}
.event-1{
  margin: 0px;
  border-bottom: 1px solid rgba(20,20,35,0.15);
  padding: 0px 0px 18px 0px;
  text-align: center;
  color: rgba(20,20,35,0.15);
  font-size: 0.9em;
}
.if-s{
  border: none;
}
/* .if-s-1{

} */

/* .if-s-3{
  width: 16px;
  height: 16px;
}
.btn{
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
} */
.event-2{
  margin: 0px;
  padding: 18px 0px 0px 0px;
  text-align: center;
  color: rgba(20,20,35,0.15);
  font-size: 0.9em;
}
.event-2 a{
  color: rgba(20,20,35,0.35);
  transition: all 250ms ease;
}


/* 目录栏部分 */
.header-logo{
  margin: 0px 0px 0px 0px;
  border-top: 30px solid white;
  overflow: hidden;
}
.a-lg{
  text-align: center;
}
.a-lo{
  width: 32px;
  height: 32px;
  overflow: hidden;
  transform: scale(0.5);
  display: inline-flex;
  position: relative;
  top: 5px;
  transition: all 250ms ease;
  margin: 0px 2px;
  /* margin: 0px 10px;
  padding: 0px; */
}
.a-lo-a{
  width: 100%;
  height: 100%;

}
.a-lo-1{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 160px;
}
.a-lo-2{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 0px;
}
.a-lo-3{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 192px;
}
.a-lo-4{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 128px;
}
.a-lo-5{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 64px;
}
.a-lo-6{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 96px;
}
.a-lo-7{
  background-image: url(./img/10082.png),linear-gradient(rgba(20,20,35,1),rgba(20,20,35,1));
  background-blend-mode: lighten;
  background-position: 0px 32px;
}







.logo{
  width: 400px;
  height: 85px;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.logo-1{
  /* width: 306.84px;
  height: 55.53px; */
  padding: 0px;
  margin: 0px;
  display: block;
  transition: all 250ms ease;
}
.coin{
  position: absolute;
  top: 0px;
  right: -50px;
  z-index: 100;
  width: 74px;
  height: 74px;
}
.nav-t{
  float: right;
  width: 400px;
  height: 70px;
  padding-top: 5px;
  position: relative;
  bottom: 1px;
  display: block;
}
.nav-t a{
  color: rgba(20,20,35,1);
  font-weight: 300;
  transition: all 250ms ease;
}
.nav-t ul{
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0.01em;
  margin: 0px;
  padding: 0px;
}
.menu-n{
  display: list-item;
  padding: 0px 17.9px 0px 8px;
}
.search-random{
  width: 300px;
  float: right;
  margin: 0 0 0 4.545454545455%;
}
.search-h{
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(20,20,35,.15);
  position: relative;
  transition: all 250ms ease;
  z-index: 10;
}
.input-s{
  padding: 0px 0px 0px 0px;
  width: 300px;
  height: 63px;
  border: 0px;
  outline: none;
  transition: all 250ms ease;
  z-index: 9;
}
.input-s::placeholder{
  font-size: 1.4em;
  color: rgba(20,20,35,1);
  font-weight: 300;
  position: relative;
  top: 2px;
  letter-spacing: 0.016em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
}
.input-s:focus{
  border: none;
}
.btn{
  position: absolute;
  top: 22px;
  right: 0px;
  border: none;
  background-color: white;
  padding: 0px;
  transition: all 250ms ease;
  font-size: 1.2em;
}
.random-p{
  height: 40px;
  padding: 20px 0px 0px 0px;

}
.r-a{
  color: rgba(20,20,35,0.3);
  font-size: 1.2em;
  display: block;
  font-weight: 300;
  transition: all 250ms ease;
  position: relative;
  top: -2px;
}
.icon{
  width: 20px;
  float: right;
  position: relative;
  bottom: -2px;
}
.icon svg{
  fill: rgba(20,20,35,0.2);
}

.menu-list{
  height: 63px;
  border-bottom: 1px solid rgba(20,20,35,.15);
  overflow: hidden;
}
.menu-nav{
  width: 100%;
  height: 100%;
}
.nav{
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.nav li{
  float: right;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
}
.nav li .menu-t{
  font-weight: 800;
  line-height: 1em;
  font-size: 1.2em;
}
.menu-a{
  box-sizing: border-box;
  border-right: 1px solid rgba(20,20,35,.15);
  text-align: center;
  margin: 0px auto;
  transition: all 250ms ease;
}

.menu-a a{
  display: block;
}
.menu-t{
  color: rgba(20,20,35,1);
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 800;
  padding: 22px 0px;
}
.menu-t img{
  display: inline-block;
  width: 8px;
  height: 5px;
  position: relative;
  top: -5px;
  left: 0px;
}
.menu-nav-1{
  width: 14.25414364640884%;
  border: none;
}
.menu-nav-1 .menu-t{
  position: relative;
  left: 2px;
}
.menu-nav-1 .menu-t img{
  position: relative;
  left: 1px;
}
.menu-nav-2{
  width: 20.22099447513812%;
}
.menu-nav-3{
  width: 21.98895027624309%;
}
.menu-nav-4{
  width: 15.24861878453039%;
}
.menu-nav-5{
  width: 15.91160220994475%;
}
.menu-nav-6{
  width: 12.37569060773481%;
}

.more-menu{
  display: none;
}
.more-border{
  float: right;
  width: 300px;
  margin: 0px 0px 0px 4.545454545455%;
  padding: 0px;
}
.more-nav{
  overflow: hidden;
  height: 168px;
  background-color: rgba(20,20,35,1);
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -1px;
  transition: all 250ms ease;
}
.more-nav ul{
  list-style-type: none;
  padding: 8px 0.75757575757576% 20px;
  margin: 0px;
}
.more-li{
  padding: 10px 1.063829787234% 0px;
  width: 10.372340425532%;
  height: 25px;
  z-index: 99;
}
.more-nav li{
  display: inline;
  float: left;
}
.more-li a{
  color: white;
  font-style: normal;
  font-size: 1em;
  line-height: 0.5em;
  font-weight: 800;
  letter-spacing: 0.01em;
  transition: all 250ms ease;
}
.more-li{
  text-transform: capitalize;
}
.more-li-t{
  line-height: 1em;
}


/* 以下为导航栏部分 */
.daohang{
  position: fixed;
  background-color: white;
  margin: 0px auto;
  /* width: 91.6666666666667%; */
  width: 1320px;
  max-width: 1320px;
  height: 74px;
  top: 0px;
  z-index: 1000;
  border-bottom: 1px solid rgba(20,20,35,0.5);
}
.search-h2{
  width: 300px;
  height: 33px;
  float: right;
  position: relative;
  margin: 19px 0px 6px 4.545454545455%;
  transition: all 250ms ease;
  z-index: 10;
}
.input-s2{
  padding: 0px 0px 0px 15px;
  width: 285px;
  height: 33px;
  border: 0px;
  outline: none;
  transition: all 250ms ease;
}
.input-s2::placeholder{
  color: rgba(20,20,35,1);
  font-size: 1.2em;
  letter-spacing: 0.01em;
  font-weight: 300;
  position: relative;
  top: 1px;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
}
.btn2{
  position: absolute;
  top: 10px;
  right: 0px;
  border: none;
  background-color: white;
  padding: 0px;
  transition: all 250ms ease;
}
.menu-list2{
  height: 74px;
  position: relative;
  left: 0.6px;
  top: -1px;
  z-index: 5;
}
.menu-btn{
  width: 16px;
  padding: 23px 15px 0px 15px;
  height: 52px;
  transition: all 250ms ease;
}
.menu-top{
  background-color: black;
  height: 2px;
  width: 16px;
  position: relative;
  top: 7px;
}
.menu-cen{
  background-color: black;
  height: 2px;
  width: 16px;
  position: relative;
  top: 11px;
}
.menu-bot{
  background-color: black;
  height: 2px;
  width: 16px;
  position: relative;
  top: 15px;
}
.menu-a-2{
  height: 52px;
  width: auto;
  padding: 24px 0px 0px 0px;
  transition: all 250ms ease;
  /* border-right: 1px solid rgba(20,20,35,0.15); */
}
.menu-nav-7 a{
  padding-right: 11.2px;
}
.menu-t2{
  color: rgba(20,20,35,1);
  font-size: 1em;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.01em;
  padding: 7px 14px 7px 15px;
  border-right: 0.5px solid rgba(20,20,35,.15);
}
.menu-t2 img{
  display: inline-block;
  width: 8px;
  height: 4.8px;
  position: relative;
  top: -5.5px;
  left: 2px;
}
.dh-lg{
  width: 250px;
  position: absolute;
  top: 17px;
  left: 0.2px;
  z-index: 8;
}
.dh-lg svg{
  width: 170.8px;
  fill: rgba(20,20,35,1);
}
.dh-more{
  width: 960px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  display: none;
}
.more-nav-2{
  width: 100%;
  overflow: hidden;
  height: 168px;
  background-color: rgba(20,20,35,1);
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -1px;
  transition: all 250ms ease;
}
.more-nav-2 ul{
  list-style-type: none;
  padding: 8px 0.75757575757576% 20px;
  margin: 0px;
}
.more-nav-2 li{
  display: inline;
  float: left;
}
.tebie{
  border-right: 0.5px solid rgba(20,20,35,0.08);
}










/* 以下为页面主体 */
.r-body{
  /* height: 3000px; */
  width: 1320px;
  margin: 0 auto 0 auto;
  /* background-color: blue; */
}
.side{
  float: right;
  width: 300px;
  margin: 0 0 0 4.545454545455%;
}
.side-1{
  width: 300px;
  /* margin: 0 0 0 4.54545454545%; */
  color: rgba(20,20,35,0.35);
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-style: normal;
  font-weight: 300;
  position: relative;
  top: -6px;
  left: 5.5px;
}
.side-1-a{
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(252,67,73,.25);
  color: rgb(252,67,73,.75);
  transition: all 250ms ease;
}
.side-2{
  width: 240px;
  margin: 60px 0 0 0;
  padding: 30px;
  background-image: url(./img/10067.png);
  background-repeat: repeat-y;
  background-size: 100%;
  position: relative;
  top: -7px;
  left: 5.5px;
}
.side-title{
  font-size: 2em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-weight: 800;
  line-height: 1.125em;
  color: rgba(20,20,35,1);
  margin: 0 0 16px;
}
.little-t{
  font-family: "Sentinel SSm A", "Sentinel SSm B", Serif, Georgia;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: 0.6em;
  line-height: 2em;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(20,20,35,.35);
  margin-bottom: 30px;
}
.little-t a{
  font-family: "Sentinel SSm A", "Sentinel SSm B", Serif, Georgia;
  color: rgba(252,67,73,1);
  transition: all 250ms ease;
}
.side-mpart{
  position: relative;
}
.img-m1{
  width: 240px;
  height: 180px;
  margin: 0px 0px 5px 0px;
}
.cover-s{
  position: absolute;
  width: 240px;
  height: 180px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0,0.3);
  display: none;
  transition: all 250ms ease;
}
.cover{
  position: absolute;
  width: 240px;
  height: 180px;
  top: 30px;
  left: 0px;
  background-color: rgba(0, 0, 0,0.3);
  display: none;
  transition: all 250ms ease;
}
.p-m1{
  margin: 0px;
  padding: 0px;
}
.p-m1 a{
  color: rgba(20,20,35,1);
  letter-spacing: 0.01em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-weight: 800;
  padding: 0px;
  margin: 0px;
  line-height: 1.35em;
}
.img-m{
  width: 240px;
  height: 180px;
  margin: 30px 0px 10px 0px;
  transition: all 250ms ease;
}
/* .img-m:hover{
  filter: grayscale(80%)
} */
.p-m{
  margin: 0px;
  padding: 0px;
}
.p-m a{
  color: rgba(20,20,35,1);
  letter-spacing: 0.01em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-weight: 800;
  padding: 0px;
  margin: 0px;
  line-height: 1.35em;
}
.side-sign{
  width: 150px;
  margin: 20px auto 0px;
  height: 122px;
  border: 1px solid rgba(252,67,73,1);
  border-radius: 75px;
  text-align: center;
  padding: 28px 0 0 0;
  transition: all 250ms ease;
}
.sign-a{
  font-family: "Sentinel A", "Sentinel B", Serif, Georgia;
  color: rgba(252,67,73,1);
  line-height: 1.25em;
  font-size: 1.25em;
  font-style: italic;
  transition: all 250ms ease;
}
/* 以下为左边栏 */
.part-a{
  width: 950px;
  /* margin: 0 0 0 125px; */
  /* position: relative;
  top: 100px; */
  overflow: hidden;
}

.posts{
width:                          950px;
/* margin:                         0px 90.4px; */
}
.size-full{
  width: 950px;
}
.category{ 
float:                          none;
text-transform:                 none;
letter-spacing:                 0;
font-size:                      1.2em; 
line-height:                    1em; 
font-family:                    "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
font-style:                     normal;
margin:                         20px 0 0 0;
display:                        inline-block; 
color:                          rgba(20,20,35,1);  
}
.category .hover-black{
  border-bottom: 1px solid rgba(20, 20, 35, .3);
}

.clear{
clear:                          both;
margin:                         0;
padding:                        0;
border:                         0;
font:                           inherit;
}
    
h2 a{
color:                          black;
margin:                         0;
padding:                        0;
border:                         0;
font:                           inherit;
text-decoration:                none;
}

.kong a{
text-decoration:                none;
}



.post_details{
margin:                         0 0 25px;
padding:                        20px 0 0 0;
position:                       relative;
}


.date{
float:                          left;
display:                        block;
margin:                         4px 0 0 0;
font-size:                      10px;
line-height:                    1em;
font-weight:                    700;
font-family:                    "Clear Sans";
font-style:                     normal;
text-transform:                 uppercase;
letter-spacing:                 .1em;
padding:                        0;
border:                         0;
font:                           inherit;
}


.author{
float: right;
display: block;
margin: 4px 0 0 0;
font-size: 10px;
line-height: 1em;
font-weight: 700;
font-family: "Clear Sans";
font-style: normal;
text-transform: uppercase;
letter-spacing: .1em;
padding: 0;
border: 0;
font: inherit;
}

.part-a p{
font-size: 1.2em;
line-height: 1.5em;
margin: 0 0 1em 0;
font-family: "Sentinel A","Sentinel B","Serif",Georgia;
font-style: normal;
font-weight: 400;
padding: 0;
/* border:0; */
position: relative;
}

.span-color{
  color: #202035;
}

.blockquote-border-a p::before{
  content: "";
  display: block;
  width: 1px;
  height: 82px;
  background-color: rgba(20,20,20,.35);
  position: absolute;
  left: -37px;
}

.blockquote-border-b ::before{
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  background-color: rgba(20,20,20,.35);
  position: absolute;
  left: -37px;
}

.a{
width: 970px;    
}

.wp-caption-text{
margin:   0 0 15px;
font-size: .85em;
font-weight: 400;
color:rgba(20, 20, 35, .5);
padding:  7px 0 0;
line-height: 1.5em;
letter-spacing: .01em;
font-family: "Ringside Regular A","Ringside Regular B",sans-serif,Arial;
font-style: normal;
border: 0;
}

.part-b share_story{
padding:  0  0 6px;
color: rgba(20, 20, 35, .35);
border-bottom: 1px solid rgba(20, 20, 35, .15);
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%,0%);
font-size: 1em;
font-family: "Ringside Regular A","Ringside Regular B",sans-serif,Arial;
font-style: normal;
font-weight: 300;
}

.share{
margin:  50px 0 0;
padding:  0 0 30px 0;
text-align: center;
border-bottom:  1px solid rgba(20, 20, 35, .15);
line-height: 10px;
border: 0;
font: inherit;
}

.move_that_f{
position: relative;
top: 13px;
/* margin:  0 15px 0 0; */
margin-right: 35px;
padding: 0;
border: 0;
font: inherit;
}

.fb_iframe_widget{
display: inline-block;
position: relative;
margin: 0;
padding: 0;
border: 0;
font: inherit;
}

.move_that_tweet{
top: 6px;  
margin:  0 35px 0 0;
padding: 0;
border: 0;
font: inherit;
}

.move_that_pin{
top: -7px;
left: 0px;
width: auto;
position: relative;
display: inline-block;
margin:  0 15px 0 0;
padding: 0;
border: 0;
font: inherit;
margin-right: 70px;
}

.share_break{
display: block;
margin: 0;
padding: 0;
border: 0;
font: inherit;
}

.clear{
clear: both;
}

.posts a{
transition: all 250ms ease;
text-decoration: none;
font: inherit;
}

h3 a{
color: rgba(20, 20, 35, .5);
padding: 0 0 3px 0;
}
.hover-black{
  border-bottom: 1px solid rgba(252,67,73,.25);
}


.hover-red{
color: rgba(252, 67, 73, 1);
margin: 0;
padding:0 ;
font: inherit;
}

a:after{
color: rgba(252, 67, 73, 1);
border-bottom: 1px solid rgba(252, 67, 73, .25);
padding: 0 0 3px 0;
transition: all 250ms ease;
margin: 0;
border: 0;
font:inherit
}

.hover-pink:hover{
color: magenta;
}

.aaa{
width: 60px;
height: 20px;
margin: 0;
background-image: url(../fangzhan/img/10066.png);
background-repeat: no-repeat;
background-size: 60px 20px;
display: inline-block;
padding: 0;
border: 0;
font: inherit;
transition: all 250ms ease;
text-decoration: none;
}

.h3 a:last-child{
margin: 0;
}
.h3 .category a:after{
color: rgba(20, 20, 35, .5);
border-bottom: 1px solid rgba(20, 20, 35, .3);
padding: 0 0 3px 0;
margin: 0 10px 0 0;
border: 0;
font: inherit;
}

.post_module h3 a:last-child{
margin: 0;
color: rgba(20, 20, 35, .35);
border-bottom: 1px solid rgba(20, 20, 35, .1);
padding: 0 0 3px 0;
}
.hover-red{
  transition: all 250ms ease;
  border-bottom: 1px solid rgba(252,67,73,.25);
}
/*分隔线*/

.part-b{
  width: 950px;
  height: 27890px;
  margin:0;
  /* position: relative;
  top: 100px; */
  overflow: hidden;
}

.youhua-1 .guiyi-2 .heian-3{
  width:970px;
  margin: 0 0 60px;
  overflow: visible;
}

.photo{
  width: 970px;
  margin:0px auto;
}

.part-b a{
  transition: all 250ms ease;
  text-decoration: none;
}
.hover-pink{
  color: blue;
  transition: all 250ms ease;
  font: inherit;
}
.hover-pink:hover{
  color: rgb(255, 29, 255);
}

.subtitle{
  text-transform: none;
  letter-spacing: 0;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-style: normal;
  font-size:1em;
	line-height:1em;
	font-weight:bold;
	margin: 0 0 18px;
	float:none;
	display:block;
  color:#898991;
  text-decoration: none;
  /* border-bottom: 1px solid rgba(20, 20, 35, .3); */
}

.subtitle a{
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 800;
}

.part-b h2{
  font-size: 2.25em;
  line-height: 1.125em;
  font-weight: 800;
}

.part-b h2 a{
  color: rgba(20,20,35,1);
  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

.post_h5{
  width:auto;
  border-top: none;
  margin: 12px 0 25px;
  padding: 10px 0 0 0;
  position: relative;
  color: rgba(20,20,35,1);
}

.date{
  float: left;
  margin: 4px 0 0 0;
  font-size: 10px;
  line-height: 1em;
  font-weight: 700;
  font-family: "Clear Sans";
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(20,20,35,0.5);
}

.date a{
  font-family: "Clear Sans";
  font-size: 10px;
  line-height: 1em;
  font-weight: 700;
  border-bottom: 1px solid rgba(20, 20, 35, .15);
}
.author a{
  font-family: "Clear Sans";
  font-size: 10px;
  line-height: 1em;
  font-weight: 700;
  border-bottom: 1px solid rgba(20, 20, 35, .15);
}

.author{
  float: right;
  display: block;
  margin: 4px 0 0 0;
  font-size: 10px;
  line-height: 1em;
  font-weight: 700;
  font-family: "Clear Sans";
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgba(20,20,35,.5);
}
.date:hover a{
  color: rgba(20, 20, 35, 1);
  border-bottom: 1px solid rgba(20, 20, 35, 0.35);
}
.author:hover a{
  color: rgba(20, 20, 35, 1);
  border-bottom: 1px solid rgba(20, 20, 35, 0.35);
}
.clear{
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.photo1{
  max-width: none;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;
}

.beizhu{
  font-size: .85em;
  font-weight: 400;
  color: rgba(20, 20, 35, .5);
  padding: 7px 0 0;
  line-height: 1.5em;
  letter-spacing: .01em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-style: normal;
  display: block;
  border: 0;
}

.part-b p{
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  font-family: "Sentinel A", "Sentinel B", Serif, Georgia;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  position: relative;
}

/* .part-b h5{
  
} */

.share_story{
  padding: 0 0 6px;
  color: rgba(20,20,35,.35);
  border-bottom: 1px solid rgba(20,20,35,.15);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

.share{
  margin: 13px 0 70px;
  padding: 0 0 30px 0;
  text-align: center;
  line-height: 10px;
  border: 0;
  font: inherit;
  display: block;
  border-bottom: 1px solid rgba(20,20,35,.15);
}

.f .tweet{
  position: relative;
  margin-top: 15px;
  margin: 0 15px 0 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: center;
}

.tweet{
  margin-top: 5px;
  margin-right: 35px;
}

.pin{
  left: 0px;
  width: auto;
  position: relative;
  top: -7px;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  border: 0;
  font: inherit;
  margin-right: 180px;
}

.clear11{
  display: block;
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.Email{
  clear: both;
  margin: 15px 0 0 0;
  background-image: url(img/10066.png);
  background-repeat: no-repeat;
  background-size: 60px 20px;
  display: inline-block;
  width: 60px;
  height: 20px;
  padding: 0;
  border: 0;
  position: relative;
  top: -7px;
  margin-left: -110px;
}

.part-b blockquote{
  quotes: none;
}

.part-b blockquote p{
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 0 0 3%;
  letter-spacing: .01em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-style: normal;
  font-weight: 300;
  border: 0;
  color: rgba(20,20,35,.5);
}
  
.part-b h3 a{
  color: rgba(20,20,35,.5);
  border-bottom: 1px solid rgba(20,20,35,.3);
  padding: 0 0 3px 0;
  margin: 0 10px 0 0;
}

.part-b p a{
  color: rgba(252,67,73,1);
  padding: 0 0 3px 0;
  transition: all 250ms ease;
  text-decoration: none;
}

.Email a{
  opacity: 0.00001;
}


/* 以下为ljx的 */
.bf-foot{
  width: 1320px;
  height: 930px;
  margin: 0px auto;
}
.page-foot{
  width: 100%;
  background-color: rgba(252,67,73,1);
  color: white;
  text-align: center;
  font-size: 1.35em;
  line-height: 1.25em;
  font-weight: 800;
  height: 47px;
  margin: 100px 0 0 0;
}
.page-f{
  padding: 10px;
  float: right;
  border-right: 1px solid rgba(20,20,35,.15);
  height: 27px;
  transition: all 250ms ease;
}
.page-f:hover{
  background-color: black;
}
.page-f a{
  color: white;

}
.page-f1{
  padding: 10px;
  font-family: "Rignside Regular A","Rignside Regular B", sans-serif, Arial;
  float: left;
}
.page-f2{
  background-color: black;
  float: right;
  padding: 10px;
  border-right: 1px solid rgba(20,20,35,.15);
  width: 9.137px;
  height: 27px;
}
.page-f2 a{
  color: white;
}
.page-f3{
  width: 14.088px;
}
.page-f4{
  width: 14.463px;
}
.page-f5{
  width: 14.950px;
}
.page-f6{
  width: 16.525px;
}
.page-f7{
  width: 89.175px;
  font-family: "Rignside Regular A","Rignside Regular B", sans-serif, Arial;
  
}
.page-f8{
  width: 23.587px;
}
/* .pagination{
  font-family: "Rignside Regular A","Rignside Regular B", sans-serif, Arial;
  font-style: normal;
  font-weight: 300;
  width: 962px;
  margin: 100px 0 0 0;
} */

/* .pagination a{
  text-decoration: none;
  color: white;
  font-family: "Rignside Regular A","Rignside Regular B", sans-serif, Arial;
}

.wp-pagenavi{
  font-size: 1em;
  width: 100%;
  background-color: rgba(252,67,73,1);
  clear: both;

  font-size: 1.35em;
  line-height: 1.25em;
  font-weight: 800;
  display: grid;
  grid-template-columns: 642px 30px 33px 33px 34px 35px 110px 45px;
  grid-template-rows: 46px;
  grid-gap: 0;
  text-align: center;
}
.wp-pagenavi div{
  display: grid;
} */

/*页面切换的表格布局*/
/* .grid-1{
  grid-row: 1;
  grid-column: 1;
  border-right: 1px solid rgba(20,20,35,.15);
}
.grid-1 span{
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;

}
.grid-2{
  grid-row: 1;
  grid-column: 2;
  border-right: 1px solid rgba(20,20,35,.15);
  background-color: black;
}

.grid-3{
  grid-row: 1;
  grid-column: 3;
  border-right: 1px solid rgba(20,20,35,.15);
  padding-top: 8px;
}

.grid-4{
  grid-row: 1;
  grid-column: 4;
  border-right: 1px solid rgba(20,20,35,.15);
  padding-top: 8px;
}

.grid-5{
  grid-row: 1;
  grid-column: 5;
  border-right: 1px solid rgba(20,20,35,.15);
  padding-top: 8px;
}

.grid-6{
  grid-row: 1;
  grid-column: 6;
  color: white;
}

.cjcnb{
  color: white;
  float: left;
  padding-left: 8px;
  padding-top: 8px;
}

.grid-7{
  grid-row: 1;
  grid-column: 7;
  border-right: 1px solid rgba(20,20,35,.15);
  border-left: 1px solid rgba(20,20,35,.15);
  padding-left: 8.5px;
}

.grid-8{
  grid-row: 1;
  grid-column: 8;
  border-right: 1px solid rgba(20,20,35,.15);
}

.gird-hover:hover{
  background-color: black;
  transition: all 0.2s linear;
} */

.pages{
  color: white;
}

.page1{
  color: white;
}

.nectar_after_content{
  height: 90px;
  border-top: 1px solid rgba(20, 20, 35, .15);
  margin-top: 50px;
  width: 1324px;
}

.big-box{
  width: 1350px;
  margin: 0px auto 0px auto;
  text-align: center;
  margin-left: 115px;
  
}

.trending{
  display: grid;
  grid-template-columns: 286px 286px 286px 286px;
  grid-template-rows: 202px 202px 202px; 
  border-top: 1px solid rgba(252,67,73,.15);
  border-bottom: 1px solid rgba(252,67,73,.15);
  grid-gap: 60px;
  padding: 26px 0 26px 0;
  width: 1324px;
  place-items: center;
  position: relative;
} 

.trending::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px; /* 设置线条高度 */
  top: 255px;
  background-color: rgba(252,67,73,.15); /* 设置伪元素的背景颜色 */
}

.trending::after{
  content: '';
  position: absolute;
  width: 1px; /* 设置线条宽度 */
  height: 100%;
  top: 0px; /* 将伪元素位置设置为网格项的边缘，并使其跨越 grid-gap 的高度 */
  left: 315px;
  background-color: rgba(252,67,73,.15); /* 设置伪元素的背景颜色 */
}

.box1 h1{
  color: rgba(255,255,255,1);
  padding: 20px 7.017543859649%;
  margin: 0px;
  font-size: 2.25em;
  line-height: 1.125em;
  font-weight: 800;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;

}

.wenzi{
  position: relative;
  top: -15px;
  left: -5px;
  text-align: left;
}

.box1{
  float: left;
  width: 280px;
  height: 200px;
  background-color: rgba(252,67,73,1);
  grid-row: 1;
  grid-column: 1;
}

.box2{
  grid-row: 1;
  grid-column: 2;
}

.box-img{
  width: 286px;
  height: 202px; 
}

.box3{
  grid-row: 1;
  grid-column: 3;
}

.box4{
  grid-row: 1;
  grid-column: 4;
}

.box5{
  grid-row: 2;
  grid-column: 1;
}

.box5::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px; /* 设置线条高度 */
  top: 516px;
  background-color: rgba(252,67,73,.15); /* 设置伪元素的背景颜色 */
}

.box5::after{
  content: '';
  position: absolute;
  width: 1px; /* 设置线条宽度 */
  height: 100%;
  top: 0px; /* 将伪元素位置设置为网格项的边缘，并使其跨越 grid-gap 的高度 */
  left: 663px;
  background-color: rgba(252,67,73,.15); /* 设置伪元素的背景颜色 */
}

.box6{
  grid-row: 2;
  grid-column: 2;
}

.box7{
  grid-row: 2;
  grid-column: 3;
}

.box8{
  grid-row: 2;
  grid-column: 4;
}

.box9{
  grid-row: 3;
  grid-column: 1;
}

.box9::after{
  content: '';
  position: absolute;
  width: 1px; /* 设置线条宽度 */
  height: 100%;
  top: 0px; /* 将伪元素位置设置为网格项的边缘，并使其跨越 grid-gap 的高度 */
  left: 1009px;
  background-color: rgba(252,67,73,.15); /* 设置伪元素的背景颜色 */
}

.box10{
  grid-row: 3;
  grid-column: 2;
}

.box11{
  grid-row: 3;
  grid-column: 3;
}

.box12{
  grid-row: 3;
  grid-column: 4;
}







/* 以下为页脚 */
.foot-f{
  margin: 60px auto 30px;
  width: 91.6666666666667%;
  max-width: 1331px;
  margin: 0px auto 0px auto;
  position: relative;
}

.gridcontainer-footer{
  display: grid;
  grid-template-columns: 317px 697px 316px;
  grid-template-rows: 102px 121px 129px;
  grid-gap: 0px;
}

/*.footer-logo*/
.footer-logo{
  grid-row: 1;
  grid-column: 1;
  border-bottom: 1px solid rgba(80,191,242,.5);
  border-top: 1px solid rgba(80,191,242,.5);

}

.footer-logo svg:hover{
  fill:black;
  transition: all 0.2s linear;
}

.footer-logo svg{
  fill:rgba(80,191,242,1);
  width: 287px;
  padding: 23px 31px 25px 0;
}

/*info*/
.info{
  grid-row: 1;
  grid-column: 2;
  border-bottom: 1px solid rgba(80,191,242,.5);
  border-left: 1px solid rgba(80,191,242,.5);
  border-right: 1px solid rgba(80,191,242,.5);
  border-top: 1px solid rgba(80,191,242,.5);
  padding: 40px 0px 50px 0px;
}

.wrap{
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 在主轴上居中对齐 */
  align-items: center; /* 在交叉轴上居中对齐 */
  gap: 31px;
}

.info-wrap{
  color: rgba(80,191,242,1);
  display: inline-block; /* 将a标签变成行内块元素 */
  text-align: center; /* 水平居中文本 */
  font-weight: 400;
  font-size: 16px;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  letter-spacing: .01em;
}

.info-wrap:hover{
  color: black;
  transition: color 0.2s linear;
}

.divider-c {
  background-color: rgba(80,191,242,.5); /* 设置分隔符的颜色 */
  width: 1px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}

/*social*/
.big-social{
  grid-row: 1;
  grid-column: 3;
  border-bottom: 1px solid rgba(80,191,242,.5);
  border-top: 1px solid rgba(80,191,242,.5);
}

.social{
  display: flex;
  justify-content: center;
  gap: 36px;
  position: relative;
  top: 34px;
  left: 15px;
}

.social-text{
  width: 100%;
  height: 100%;
}

.big_target{
  height: 32px;
  width: 32px;
  overflow: hidden;
  transform: scale(0.5);
  object-fit: cover;
  display: inline-flex;
  background-image: url('img/10082.png'),linear-gradient(rgba(80,191,242,1),rgba(80,191,242,1));
  background-blend-mode: lighten;
}

.big_target:hover{
  background-image: url('img/10082.png'),linear-gradient(black,black);
}

.social_instagram{
  background-position: 0 160px;
  position: relative;
  left: 1px;
}

.social_pinterest{
  background-position: 0 128px;
}

.social_tumblr{
  background-position: 0 64px;
}

.social_rss{
  background-position: 0 96px;
}

.social_newsletter{
  background-position: 0 32px;
}

/*mailerlite*/
.mailerlite{
  grid-row: 2;
  grid-column: 1;
  border-bottom: 1px solid rgba(80,191,242,.5);
  padding: 27px 0px 0px 0px;
}

.title{
  font-weight: 700;
  color: rgba(80,191,242,1);
  font-size: 1.5em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  letter-spacing: .01em;
  line-height: 10px;
}

.title_1{
  font-size: .6em;
  color: #8cd1f0;
  font-weight: normal;
  /* line-height: 0px; */
  font-family: "Sentinel A", "Sentinel B", Serif, Georgia;
  letter-spacing: .018em;
}

/*marilerlite-buttom*/
.mailerlite-buttom{
  grid-row: 2;
  grid-column: 2;
  border-bottom: 1px solid rgba(80,191,242,.5);
  border-right: 1px solid rgba(80,191,242,.5);
  display: flex;
  justify-content: center;
  gap: 58px;
  padding-top: 39px;
}

.email{
  width: 225px;
  /* width: 36.031746031746%; */
  height: 38px;
  border: 1px solid rgba(80,191,242,.5);
  text-indent: 5%;
  position: relative;
  right: 0px;
  top: 1px;
}

.name{
  width: 225px;
  /* width: 36.031746031746%; */
  height: 38px;
  border: 1px solid rgba(80,191,242,.5);
  position: relative;
  right: 0px;
  top: 1px;
  text-indent: 5%;
}

.name::placeholder{
  color: rgba(80,191,242,1);
  font-size: 9px;
  font-weight: 680;
  letter-spacing: .14em;
  font-family: "Clear Sans";
}

.email::placeholder{
  color: rgba(80,191,242,1);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .11em;
  font-family: "Clear Sans";
}

.join{
  color: white;
  font-size: 5px;
  font-weight: 700;
  font-family: "Clear Sans";
  letter-spacing: .2em;
  background-color: rgba(80,191,242,1);
  border-radius: 50%;
  border: none;
  width: 56px;
  height: 56px;
  position: relative;
  bottom: 7px;
  left: 1px;
}

.join:hover{
  background-color: black;
  transition: all 0.2s linear;
}

/*shop-footer*/
.shop-footer{
  grid-row: 2;
  grid-column: 3;
  border-bottom: 1px solid rgba(80,191,242,.5);
  padding: 35px 0px 0px 64px;
}

.shop-footer svg{
  fill: rgba(252,67,73,1);
}

.shop-footer svg:hover{
  fill: black;
  transition: all 0.2s linear;
}

/* .tablerow-footer3{
  display: table-row;
  height: 155px;
} */

.banquan{
  grid-column: 1/4;
  font-size: 9.7px;
  font-weight: 400;
  line-height: 2.3em;
  letter-spacing: .01em;
  font-family: "Ringside Regular A", "Ringside Regular B", Sans-serif, Arial;
  font-style: normal;
  padding: 54px 0px 101px 0px;
  width: 100%;
}

.banquan h2{
  font-weight: 400;
  color:rgba(20,20,35,.35);
  position: relative;
  bottom: 7px;
}

.banquan a {
  color: rgba(20,20,35,.35);
  font-weight: 900;
  border-bottom: 1px solid rgba(20,20,35,.1);
  padding: 0px 0px 3px 0px;
  transition: all 250ms ease;
}








/* 以下为css动画 */
.menu-a:hover{
  background-color: rgba(20,20,35,1);
}
.menu-a:hover .menu-t{
  color: rgba(252,67,73,1);
}
.menu-a-2:hover{
  background-color: rgba(20,20,35,1);
}
.menu-a-2:hover .menu-t2{
  color: rgba(252,67,73,1);
}
.event-1:hover svg{
  fill: rgba(20,20,35,1);
}
.dh-lg:hover svg{
  fill: rgba(252,67,73,1);
}
.nav-t a:hover{
  color: rgba(252,67,73,1);
}
.a-lo:hover{
  background-image: url(./img/10082.png),linear-gradient(rgba(252,67,73,1),rgba(252,67,73,1));
}
.logo-1:hover svg{
  fill: rgba(252,67,73,1);
}
.more-li:hover a{
  color: rgba(252,67,73,1);
}
.event-2:hover a{
  color: rgba(20,20,35,1);
}
.r-a:hover{
  color: rgba(252,67,73,1);
}
.r-a:hover svg{
  fill: rgba(252,67,73,1);
}
.search-h:hover input{
  padding: 0px 0px 0px 15px;
  background-color: rgb(211,239,252);
  width: 285px;
}
.search-h2:hover input{
  background-color: rgb(211,239,252);
}
.search-h:hover .btn{
  right: 15px;
  background-color: rgb(211,239,252);
}
.search-h2:hover .btn2{
  right: 15px;
  background-color: rgb(211,239,252);
}
.input-s:focus{
  padding: 0px 0px 0px 15px;
  width: 285px;
  background-color: rgb(231, 231, 233);
  z-index: 11;
}
.input-s:focus::placeholder{
  color: rgba(20,20,35,0.3);
}
.input-s2:focus+.btn2{
  right: 15px;
  background-color: rgb(231, 231, 233);
}
.input-s2:focus{
  padding: 0px 0px 0px 15px;
  width: 285px;
  background-color: rgb(231, 231, 233);
  z-index: 11;
}
.input-s2:focus::placeholder{
  color: rgba(20,20,35,0.3);
}
.input-s:focus+.btn{
  right: 15px;
  background-color: rgb(231, 231, 233);
}
.side-1-a:hover{
  color: rgba(20,20,35,.35);
  border-bottom: 1px solid rgba(20,20,35,0.15);
}
.little-t a:hover{
  color: white;
}
.menu-list:has(>.menu-nav>.nav>.menu-nav-1:hover)+.more-menu{
  display: block;
  position: absolute;
  margin-right: 360px;
}
.more-menu:hover{
  display: block;
  position: absolute;
  margin-right: 360px;
}
.hd-r:has(.more-menu:hover) .menu-list>.menu-nav>.nav>.menu-nav-1{
  background-color: rgba(20,20,35,1);
}
.hd-r:has(.more-menu:hover) .menu-list>.menu-nav>.nav>.menu-nav-1>.menu-t{
  color: rgba(252,67,73,1);
}
.menu-btn:hover{
  background-color: rgb(220, 220, 222);
}
.daohang:has(.menu-list2>.menu-nav>.nav>.menu-nav-7:hover)>.dh-more{
  display: block;
}
.dh-more:hover{
  display: block;
}
.daohang:has(.dh-more:hover)>.menu-list2>.menu-nav>.nav>.menu-nav-7{
  background-color: rgba(20,20,35,1);
}
.daohang:has(.dh-more:hover)>.menu-list2>.menu-nav>.nav>.menu-nav-7>.menu-t2{
  color: rgba(252,67,73,1);
}
.hover-red:hover{
  color: rgba(252,67,73,1);
}
.part-a .hover-red:hover{
  color: black;
  border-bottom: 1px solid rgba(20, 20, 35, .15);
}
.hover-black:hover{
  color: black;
  border-bottom: 1px solid rgba(20, 20, 35, .15);
}
.side-sign:hover{
  background-color: rgba(252,67,73,1);
}
.side-sign:hover .sign-a{
  color: white;
}
.banquan a:hover{
  color: rgba(80,191,242,1);
}
.side-mpart img:hover+.cover{
  display: block;
}
.cover:hover{
  display: block;
}
.side-mpart img:hover+.cover-s{
  display: block;
}
.cover-s:hover{
  display: block;
}